.con1{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    height: 100px;
    font-size: 20px;
}
.con2{
    display: flex;

}
.tes1{
    margin-top: 30px;
    width: 300px;
}
.id{
    
    text-align: center;
    background-color: #59b3e5;
    color: whitesmoke;
    padding: 5px;
    width: 170px;
    font-size: 15px;
    margin: 10px;
    margin-left: 20px;
}
.tes2{
    width: 650px;
    font-size: 25px;
    margin-top: 10px;
}
.con3{
    border: solid 2px #59b3e5;
    padding-bottom: 20px;
}
.list{
    margin-left: 50px;
    font-size: 25px;
}
.con4{
    display: flex;
    margin-top: 30px;
    background-color: #59b3e5;
    height: 50px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    color: whitesmoke;
}


@media only screen and (min-width: 1000px){

    .control{
        display: flex;
        flex-direction: row;
    }
    .tes2{
        width: 1050px;
        font-size: 25px;
        margin-top: 10px;
        
    }
    .con3{
        border: solid 2px #59b3e5;
        width: 450px;
        padding-bottom: 20px;
        margin-left: 100px;
    }
}

@media only screen and (max-width: 600px){
    
    .con2{
        display: flex;
        flex-direction: column;
    }
    .tes1{
        margin-top: 30px;
        width: 600px;
    }
    .id{
        
        text-align: start;
        background-color: #59b3e5;
        color: whitesmoke;
        padding: 5px;
        width: 90%;
        font-size: 15px;
        margin: 10px;
        margin-left: 20px;
    }
    .tes2{
        width: 585px;
        font-size: 25px;
        margin-top: 10px;
    }
    .con4{
        
        font-size: 23px;
       
    }
}